@font-face {
  font-family: 'Roboto', Arial, sans-serif; }

body {
  min-width: 320px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #1D1D1D;
  background-color: #fff; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

button {
  cursor: pointer; }

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 400px; }
  @media (min-width: 768px) {
    .container {
      max-width: 768px; } }
  @media (min-width: 1124px) {
    .container {
      max-width: 956px; } }
  .container--rest {
    border-top: 1px solid transparent;
    height: 100%; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: 16px; }

.col {
  padding-left: 8px;
  padding-right: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.col-xs-1 {
  -ms-flex-preferred-size: 8.3333%;
      flex-basis: 8.3333%; }

.col-xs-2 {
  -ms-flex-preferred-size: 16.6666%;
      flex-basis: 16.6666%; }

.col-xs-3 {
  -ms-flex-preferred-size: 24.9999%;
      flex-basis: 24.9999%; }

.col-xs-4 {
  -ms-flex-preferred-size: 33.3333%;
      flex-basis: 33.3333%; }

.col-xs-5 {
  -ms-flex-preferred-size: 41.6665%;
      flex-basis: 41.6665%; }

.col-xs-6 {
  -ms-flex-preferred-size: 49.9998%;
      flex-basis: 49.9998%; }

.col-xs-7 {
  -ms-flex-preferred-size: 58.3331%;
      flex-basis: 58.3331%; }

.col-xs-8 {
  -ms-flex-preferred-size: 66.6664%;
      flex-basis: 66.6664%; }

.col-xs-9 {
  -ms-flex-preferred-size: 74.9997%;
      flex-basis: 74.9997%; }

.col-xs-10 {
  -ms-flex-preferred-size: 83.3333%;
      flex-basis: 83.3333%; }

.col-xs-11 {
  -ms-flex-preferred-size: 91.6663%;
      flex-basis: 91.6663%; }

.col-xs-12 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }

@media (min-width: 768px) {
  .col-md-1 {
    -ms-flex-preferred-size: 8.3333%;
        flex-basis: 8.3333%; }
  .col-md-2 {
    -ms-flex-preferred-size: 16.6666%;
        flex-basis: 16.6666%; }
  .col-md-3 {
    -ms-flex-preferred-size: 24.9999%;
        flex-basis: 24.9999%; }
  .col-md-4 {
    -ms-flex-preferred-size: 33.3333%;
        flex-basis: 33.3333%; }
  .col-md-5 {
    -ms-flex-preferred-size: 41.6665%;
        flex-basis: 41.6665%; }
  .col-md-6 {
    -ms-flex-preferred-size: 49.9998%;
        flex-basis: 49.9998%; }
  .col-md-7 {
    -ms-flex-preferred-size: 58.3331%;
        flex-basis: 58.3331%; }
  .col-md-8 {
    -ms-flex-preferred-size: 66.6664%;
        flex-basis: 66.6664%; }
  .col-md-9 {
    -ms-flex-preferred-size: 74.9997%;
        flex-basis: 74.9997%; }
  .col-md-10 {
    -ms-flex-preferred-size: 83.3333%;
        flex-basis: 83.3333%; }
  .col-md-11 {
    -ms-flex-preferred-size: 91.6663%;
        flex-basis: 91.6663%; }
  .col-md-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; } }

@media (min-width: 1124px) {
  .col-lg-1 {
    -ms-flex-preferred-size: 8.3333%;
        flex-basis: 8.3333%; }
  .col-lg-2 {
    -ms-flex-preferred-size: 16.6666%;
        flex-basis: 16.6666%; }
  .col-lg-3 {
    -ms-flex-preferred-size: 24.9999%;
        flex-basis: 24.9999%; }
  .col-lg-4 {
    -ms-flex-preferred-size: 33.3333%;
        flex-basis: 33.3333%; }
  .col-lg-5 {
    -ms-flex-preferred-size: 41.6665%;
        flex-basis: 41.6665%; }
  .col-lg-6 {
    -ms-flex-preferred-size: 49.9998%;
        flex-basis: 49.9998%; }
  .col-lg-7 {
    -ms-flex-preferred-size: 58.3331%;
        flex-basis: 58.3331%; }
  .col-lg-8 {
    -ms-flex-preferred-size: 66.6664%;
        flex-basis: 66.6664%; }
  .col-lg-9 {
    -ms-flex-preferred-size: 74.9997%;
        flex-basis: 74.9997%; }
  .col-lg-10 {
    -ms-flex-preferred-size: 83.3333%;
        flex-basis: 83.3333%; }
  .col-lg-11 {
    -ms-flex-preferred-size: 91.6663%;
        flex-basis: 91.6663%; }
  .col-lg-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; } }

.header {
  background-color: #fff;
  -webkit-box-shadow: 0 0 40px #DCDCDC;
          box-shadow: 0 0 40px #DCDCDC; }
  .header__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 72px; }
  .header__btn {
    line-height: 24px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    padding: 7px 11px; }
  .header__destination {
    display: none; }
    @media (min-width: 768px) {
      .header__destination {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
  .header__login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__btn {
    min-width: 80px;
    margin-right: 10px; }
    @media (min-width: 768px) {
      .header__btn {
        margin-right: 14px; } }
  .header .header__btn--register {
    background-color: #262626;
    color: #fff;
    border-color: #262626; }

.icon-basket {
  width: 19px;
  height: 22px;
  display: none; }
  @media (min-width: 768px) {
    .icon-basket {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.search {
  position: relative;
  margin-top: 24px;
  margin-bottom: 24px; }
  .search__input {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(117, 117, 117, 0.3);
    padding: 16px 16px 16px 30px; }
  .search::before {
    position: absolute;
    top: 15px;
    content: "";
    width: 22px;
    height: 22px;
    background: url(../../img/search.svg) no-repeat; }

.main__destination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px; }
  @media (min-width: 768px) {
    .main__destination {
      display: none; } }

.main-input {
  background-color: transparent; }

.main-content__header {
  display: inline-block;
  margin-bottom: 16px;
  font-size: 22px;
  line-height: 34px; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 8px;
  background-color: #262626;
  min-height: 50px;
  color: #fff;
  line-height: 16px; }
  .footer__logo, .footer__info, .footer__app, .footer__copyright {
    width: 100%;
    max-width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4); }
  .footer__logo {
    min-height: 115px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer__info {
    padding: 39px 0 25px; }
  .footer__list-item {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding-bottom: 23px; }
    .footer__list-item:hover {
      text-decoration: underline; }
    .footer__list-item--span {
      cursor: default; }
      .footer__list-item--span:hover {
        text-decoration: none; }
  .footer__language-select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 176px;
    height: 40px;
    padding: 0 20px 0 40px;
    margin-bottom: 33px;
    background: url(../../img/world.svg) no-repeat 16px 11px, url(../../img/select-arrow.svg) no-repeat 94% 16px;
    background-color: #3B3B3B;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    color: #fff;
    line-height: 15px; }
    @media (min-width: 1124px) {
      .footer__language-select {
        width: 227px; } }
  .footer__hashtag {
    font-size: 16px;
    line-height: 19px; }
    .footer__hashtag--green {
      color: #49A144; }
  .footer__social-icons {
    margin: 20px 0 30px; }
  .footer__social-icons-item {
    font-size: 0;
    padding-right: 12px; }
  .footer__app {
    min-height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer__btn {
    border: none;
    margin-right: 20px;
    height: 40px;
    cursor: pointer; }
    @media (min-width: 768px) {
      .footer__btn {
        margin-right: 40px; } }
    .footer__btn:last-of-type {
      margin-right: 0; }
    .footer__btn--ios {
      width: 120px;
      background: url(../../img/download-ios.png) no-repeat 0 0;
      background-size: cover; }
    .footer__btn--android {
      width: 136px;
      background: url(../../img/download-andr.png) no-repeat 0 0;
      background-size: cover; }
  .footer__copyright {
    padding: 40px 0;
    border: none; }

.icon-instagram,
.icon-facebook,
.icon-twitter {
  width: 24px;
  height: 24px; }

.arrow {
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 80px;
  height: 80px;
  background-color: #59BD5A; }

.icon-arrow {
  position: absolute;
  top: 27px;
  right: 32px;
  width: 16px;
  height: 26px; }

.white-logo {
  width: 192px;
  height: 20px; }

.main-logo {
  width: 107px;
  height: 11px; }
  @media (min-width: 1124px) {
    .main-logo {
      width: 121px;
      height: 13px; } }

.store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 20px; }
  .store__image {
    margin-bottom: 16px; }
    .store__image img {
      width: 100%;
      max-width: 100%; }
    @media (min-width: 768px) {
      .store__image {
        max-width: 368px; } }
    @media (min-width: 1124px) {
      .store__image {
        max-width: 308px; } }
  .store__name, .store__description, .store__delivery-time {
    margin-bottom: 4px; }
  .store__description {
    color: #626262; }

.main-input {
  background-color: transparent;
  line-height: 24px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  padding: 7px 11px;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2; }
  .main-input--time {
    max-width: 41px; }
  .main-input--location {
    min-width: 215px; }
  .main-input__span {
    margin: 0 4px;
    color: #626262; }

.main-intro {
  height: 256px;
  margin: 0 auto 110px;
  background-image: url(../img/rest-back_mob.jpg);
  background-size: cover;
  background-repeat: no-repeat; }
  @media (min-width: 768px) {
    .main-intro {
      height: 364px;
      margin-bottom: 0; } }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .main-intro {
      background-image: url(../img/rest-back_mob@2x.jpg); } }
  @media (min-width: 768px) {
    .main-intro {
      background-image: url(../img/rest-back_tab.jpg); } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .main-intro {
      background-image: url(../img/rest-back_tab@2x.jpg); } }
  @media (min-width: 1124px) {
    .main-intro {
      width: 1124px;
      background-image: url(../img/rest-back_desk.jpg); } }
  @media (min-width: 1124px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1124px) and (min-resolution: 144dpi), (min-width: 1124px) and (min-resolution: 1.5dppx) {
    .main-intro {
      background-image: url(../img/rest-back_desk@2x.jpg); } }
  .main-intro__header {
    width: 308px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 131px auto 0;
    padding: 24px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 40px #DCDCDC;
            box-shadow: 0 0 40px #DCDCDC;
    border-radius: 2px; }
    @media (min-width: 768px) {
      .main-intro__header {
        width: 432px;
        padding: 38px;
        margin: 80px 0 80px 8px; } }
    @media (min-width: 1124px) {
      .main-intro__header {
        width: 389px;
        margin: 80px 0 80px; } }
  .main-intro__name {
    display: inline-block;
    color: #1D1D1D;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 40px; }
    @media (min-width: 768px) {
      .main-intro__name {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 54px; } }
  .main-intro__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (min-width: 768px) {
      .main-intro__wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
  .main-intro__desc {
    color: #626262;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 16px; }
    @media (min-width: 768px) {
      .main-intro__desc {
        margin-bottom: 0; } }
  .main-intro__time {
    font-size: 13px;
    line-height: 15px;
    color: #fff;
    background-color: #000;
    padding: 8px 16px;
    border-radius: 25px; }

.main-menu__list {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 8px;
  margin-bottom: 56px;
  border-bottom: 1px solid rgba(117, 117, 117, 0.2); }

.main-menu__item {
  padding: 32px 40px 29px 0;
  color: #626262;
  font-size: 16px;
  line-height: 19px; }
  .main-menu__item--active {
    color: #327430; }

.main-list {
  margin: 0 8px 8px; }
  .main-list__header {
    text-align: center;
    margin-bottom: 32px;
    font-size: 22px;
    line-height: 34px;
    text-align: center; }
    @media (min-width: 768px) {
      .main-list__header {
        text-align: left; } }
    @media (min-width: 1124px) {
      .main-list__header {
        margin-left: 0;
        margin-right: 0; } }
  .main-list__item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-height: 102px;
    margin-bottom: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid lightgrey; }
    @media (min-width: 768px) {
      .main-list__item {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        min-height: 160px;
        margin-bottom: 32px;
        border: 1px solid lightgrey;
        border-radius: 2px;
        border-right: none; } }
  @media (min-width: 768px) {
    .main-list__image {
      margin-top: -1px; } }
  .main-list__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (min-width: 768px) {
      .main-list__text {
        padding-left: 24px;
        padding-top: 16px; } }
  .main-list__name {
    display: block;
    line-height: 24px;
    margin-bottom: 4px;
    color: #1D1D1D; }
    @media (min-width: 768px) {
      .main-list__name {
        font-size: 16px; } }
  .main-list__desc {
    display: block;
    color: #626262;
    font-size: 13px;
    line-height: 21px; }
  .main-list__price {
    display: block;
    font-size: 15px;
    line-height: 21px;
    font-weight: bold;
    color: #1D1D1D;
    margin-bottom: 15px; }
