@font-face {
  font-family: 'Roboto', Arial, sans-serif;
}

body {
  min-width: 320px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #1D1D1D;
  background-color: #fff;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}