@font-face {
  font-family: Arial;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Arial;
  font-style: normal;
  font-weight: 700;
}

body {
  min-width: 320px;
  font-family: Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
}